@{
    @model Shop
}

<div>
    @if (Model != null)
    {
        var shop = Model;
        var i = 0;
        <h3>@shop.Name</h3>
        <th><a href="">Добавить предмет</a></th>
        <br>
        <table>
        <colgroup>
            <col span="3">
            <col>
        </colgroup>
        <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>Цена, руб.</th>
        </tr>

        @foreach (Item b in ViewBag.Items)
        {
            i++;
        <tr>
            <td>@i</td>
            <td>@b.Name </td>
            <td>@b.Price</td>
            <td><th><a href="#">Удалить</a></th></td>
        </tr>
        }
        </table>

        
    }
</div>

@*<tr>
    <td>1</td>
    <td>Карандаш цветной</td>
    <td>20,00</td>
</tr>
<tr>
    <td>2</td>
    <td>Линейка 20 см</td>
    <td>30,00</td>
</tr>*@