@{
    @model IEnumerable<Shop>

}

<div>
    @if (Model != null)
    {
        var shop = Model.ToArray();
        for (int i = 0; i < Model.Count(); i++)
        {
            if (i == 0 || i % 3 == 0)
            {
            @: </div><div class="row">
            }
            <div class="block1"> 
                <a href="/Shop/Detail?shopId=@shop[i].Id"><font size="5" color="red" face="Arial">@shop[i].Name</font></a>
                <p><font>@shop[i].Adress</font></p>
                <p><font>@shop[i].WorkTime</font></p>
            </div>
        }
    }
</div>